<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="myactuator_arm">
    <xacro:arg name="pkg_share" default="$(find myactuator_arm)"/>

    <!-- Import myactuator_arm urdf file (includes visual, collision, and inertial properties only, no ros2_control) -->
    <xacro:include filename="$(find myactuator_arm)/description/urdf/arm_description.urdf.xacro" />

    <!-- Import real hardware control_xacro -->
    <xacro:include filename="myactuator_arm_real.ros2_control.xacro" />

    <!-- Use real hardware control (with CSP mode for MoveIt) -->
    <xacro:myactuator_arm_ros2_control_real name="EthercatSystem" pkg_share="$(arg pkg_share)"/>

</robot>
