<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="myactuator_arm">
    <xacro:arg name="initial_positions_file" default="$(find myactuator_arm_moveit_config)/config/initial_positions.yaml" />

    <!-- Import new 6-DOF robot with ros2_control -->
    <xacro:include filename="$(find myactuator_arm)/robot_arm_6dof/robot_with_control.urdf.xacro" />

</robot>
