# MyActuator X6 EtherCAT Configuration - WITH HARDWARE POSITION OFFSET
# Uses 0x60B0 (Position Offset) SDO if supported by motor
#
# To zero the encoder at current position:
# 1. Read current position in counts (from 0x6064)
# 2. Set 0x60B0 to negative of that value
# 3. Motor will then report 0 at that position
#
# Alternatively, set offset in radians below and it will be converted to counts

vendor_id: 0x00202008
product_id: 0x00000000
assign_activate: 0x0300

auto_fault_reset: true
auto_state_transitions: true
mode_of_operation: 10

sdo:
  - {index: 0x6072, sub_index: 0, type: uint16, value: 1000}
  # POSITION OFFSET (0x60B0) - Set to encoder counts to shift zero point
  # To offset by 90 degrees: 90/360 * 131072 = 32768 counts
  # To offset by 180 degrees: 180/360 * 131072 = 65536 counts
  # Use NEGATIVE value to shift zero point to current position
  # - {index: 0x60B0, sub_index: 0, type: int32, value: -32768}  # Uncomment to test

rpdo:
  - index: 0x1600
    channels:
      - {index: 0x6040, sub_index: 0, type: uint16, command_interface: ~, default: 0}
      - {index: 0x607a, sub_index: 0, type: int32, command_interface: position, factor: 20861.0, default: 0}
      - {index: 0x60ff, sub_index: 0, type: int32, command_interface: velocity, factor: 20861.0, default: 0}
      - {index: 0x6071, sub_index: 0, type: int16, command_interface: effort, factor: 50.0, default: 0}
      - {index: 0x6072, sub_index: 0, type: int16, command_interface: ~, default: 1000}
      - {index: 0x6060, sub_index: 0, type: int8, command_interface: ~, default: 10}
      - {index: 0x5ff1, sub_index: 0, type: int8, command_interface: ~, default: 0}

tpdo:
  - index: 0x1a00
    channels:
      - {index: 0x6041, sub_index: 0, type: uint16, state_interface: ~}
      - {index: 0x6064, sub_index: 0, type: int32, state_interface: position, factor: 4.794e-5, offset: 0.0}
      - {index: 0x606c, sub_index: 0, type: int32, state_interface: velocity, factor: 4.794e-5}
      - {index: 0x6077, sub_index: 0, type: int16, state_interface: effort, factor: 0.02}
      - {index: 0x603f, sub_index: 0, type: uint16, state_interface: ~}
      - {index: 0x6061, sub_index: 0, type: int8, state_interface: ~}
      - {index: 0x5ff2, sub_index: 0, type: int8, state_interface: ~}
