<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="x6_test">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="pkg_share" default=""/>

    <!-- Import x6_test urdf file -->
    <xacro:include filename="$(find myactuator_x6_test)/urdf/x6_test.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="x6_test.ros2_control.xacro" />


    <xacro:x6_test_ros2_control name="EthercatSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
